<div class="bg-white p-8 rounded-xl shadow-lg flex flex-col items-center">

  <h2 class="text-2xl font-bold text-gray-800 mb-6">
    Explore the Tarot
  </h2>

  <!-- Card and meaning side-by-side -->
  <div data-controller="card" class="flex gap-6">

    <!-- Left: tarot card -->
    <div>
      <%= image_tag "tarot/#{@card.image_file}",
            class: "w-64 cursor-pointer",
            data: { action: "click->card#showInfo" } %>
    </div>

    <!-- Right: hidden text that appears after tapping -->
    <div data-card-target="info" class="hidden max-w-md flex flex-col space-y-2">

      <div>
        <h2 class="text-xl font-bold mb-1">Name</h2>
        <p class="text-gray-700"><%= @card.name %></p>
      </div>

      <div>
        <h2 class="text-xl font-bold mb-1">Meaning</h2>
        <p class="text-gray-700"><%= @card.meaning %></p>
      </div>

      <div>
        <h2 class="text-xl font-bold mb-1">Arcana</h2>
        <p class="text-gray-700"><%= @card.arcana %></p>
      </div>

      <div>
        <h2 class="text-xl font-bold mb-1">Element</h2>
        <p class="text-gray-700"><%= @card.element %></p>
      </div>
      <div>
        <%= button_to "Next Card", tarot_explore_path, class: "text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5" %>
      </div>
    </div>
  </div>
</div>
